<ion-header>
  <ion-toolbar>
    <ion-title>
      Sum Of Number
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <h3>Add Two Numbers</h3>
    <ion-list>
    <ion-item>
     <ion-label fixed></ion-label>
     <ion-input type="number" [(ngModel)]="firstNumber"></ion-input>
    </ion-item>
     <ion-item>
     <ion-label fixed></ion-label>
     <ion-input type="number" [(ngModel)]="secondNumber"></ion-input>
     </ion-item>
     </ion-list>
     <button ion-button outline (click)="addThemFunction()">Calculate</button>
     <ion-card>
      
              <ion-card-header>
      
                 Results:
      
              </ion-card-header>
      <h1>{{firstNumber}}</h1>
              <ion-card-content>
       <!---- <p>First Number is... {{firstNumber}}
        </p>
        {{firstNumber.valueAsNumber}} 
       <p>Second Number is... {{secondNumber}}
       </p>-->
       <p>Instant total is... {{getInstantTotal()}}
      </p> 
      <p>Calc button total is... {{total}}
       </p>
      </ion-card-content>
     </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
